#welcome-part {
  /* min-height: 800px; */
  height: 660px;
}

#about-text {
  padding-top: 25%;
  text-align: center;
  margin-bottom: 10%;
  z-index: 2;
  position: relative;
}

#about-text h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

#about-text p {
  margin: 10px auto 15px auto;
  width: 80vw;
}

.about-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 80%;
  margin-left: auto;
  margin-top: 20px;
  margin-right: auto;
}

.about-buttons .nav-button {
  font-size: 16px;
  opacity: 0.87;
  margin: 0;
  background-color: transparent;
  border: none;
}

.about-buttons .submit-button {
  font-size: 16px;
  width: fit-content;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
}

.about-buttons .nav-button:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.3s ease, background-color 0.3s ease;
  margin-top: 10px;
}
.about-buttons .nav-button:after {
  width: 100%;
  background: var(--yellow-main);
}

.rounded-circle {
  /* visibility: hidden; */
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  z-index: 0;
}

#shape-1, #shape-2, #shape-3 {
  min-width: 300px;
  height: 300px;
  filter: blur(35px);
}

#shape-1 {
  background-color: var(--yellow-main);
  top: 300px;
  left: 80px;
  opacity: 0.3;
}

/* #shape-2 {
  background-color: #fff;
  right: 20px;
} */

#shape-3 {
  background-color: var(--yellow-main);
  left: 20px;
  top: 250px;
  opacity: 0.5;
}

.scale-up-center {
  animation: scale-up-center 10s cubic-bezier(0.39, 0.575, 0.565, 1) infinite both;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

@keyframes scale-up-center {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

#face-img {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#face-img img {
  width: 47vw;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.the-arrow {
  position: fixed;
  z-index: 2;
  margin-top: 7vh;
  width: 70vw;
  margin-left: 4%;
}

@media (min-width: 0px) and (max-width: 359px) {
  #about-text {
    /* padding-top: 50%; */
    /* margin-bottom: 10%; */
    /* font-size: 15px; */
  }

  #about-text h2 {
    /* font-size: 22px; */
  }
}

@media (min-width: 360px) and (max-width: 390px) {
  #about-text {
    /* padding-top: 50%; */
    /* margin-bottom: 10%; */
  }
}

@media (min-width: 391px) and (max-width: 460px) {
  #about-text {
    /* margin-bottom: 25%; */
  }
}

@media (min-width: 460px) and (max-width: 576px) {
  #about-text {
    /* margin-bottom: 30%; */
  }
}

/* Small laptops */
@media (min-width: 901px) and (max-width: 1200px) {
}

/* Desktop monitors */
/* @media (min-width: 1201px) { */
@media (min-width: 901px) {
  #welcome-part {
    /* height: 82vh; */
    height: 920px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }

  #about-text {
    padding-top: 335px;
    margin-bottom: 20%;
    margin-right: 100px;
    text-align: left;
    white-space: initial;
    max-width: 340px;
  }

  #about-text p {
    width: 400px;
  }

  #face-img {
    width: 400px;
    margin: 31.5% auto auto 65px;
  }

  #face-img img {
    width: 220px;
  }

  #shape-1, #shape-2, #shape-3 {
    min-width: 400px;
    height: 400px;
    filter: blur(35px);
  }

  #shape-1 {
    background-color: var(--yellow-main);
    top: 350px;
    left: 140px;
    opacity: 0.2;
  }

  #shape-3 {
    background-color: var(--yellow-main);
    left: 0px;
    top: 300px;
    opacity: 0.3;
  }

  /* .about-buttons {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
  }

  .about-buttons .nav-button {
    font-size: 16px;
    opacity: 0.87;
    margin: 0;
  }

  .about-buttons .submit-button {
    font-size: 16px;
    width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
  } */

  .about-buttons {
    flex-direction: row;
    width: 100%;

  }


  .about-buttons .submit-button {
    width: fit-content;
    padding: 0 30px;
    border-width: 3.5px;
    cursor: pointer;
  }

  .about-buttons .submit-button:hover {
    border-radius: 7px;
  }

  .about-buttons .nav-button {
    opacity: 0.87;
    margin-left: 40px;
    width: fit-content;
  }

  .about-buttons .nav-button:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width 0.3s ease, background-color 0.3s ease;
    margin-top: 10px;
  }
  .about-buttons .nav-button:after {
    width: 100%;
    background: var(--yellow-main);
  }
}

@media screen and (min-width: 901px) and (min-height: 800px) and (max-height: 1000px) {
  #welcome-part {
    height: 105vh;
  }

  #about-text {
    padding-top: 300px;
  }

  #face-img {
    margin-top: 28%;
  }
}
