#projects-part {
  height: 100vh;
  /* min-height: 700px; */
}

.projects-header {
  margin-left: 5%;
  margin-top: 100px;
  margin-bottom: 35px;
}

.project-video-wrapper {
  /* width: 87vw; */
  margin-left: -7px;
  margin-bottom: -100px;
  z-index: 4;
  position: relative;
}

.project-video {
  width: 87vw;
  border-radius: 10px;
  margin-right: 250px;
}

.project-description {
  background-color: var(--darker-gray);
  border-radius: 10px;
  height: 60vh;
  /* min-height: 500px; */
  width: 80vw;
  margin-left: auto;
  margin-right: 10px;
  position: relative;
  top: -104px;
  display: flex;
  flex-direction: column;
  margin-top: 9vh;
  z-index: 1;
  border: 4px dashed var(--yellow-main);
  border-bottom: no;
}

.project-description h2 {
  padding-top: 40%;
  padding-left: 5%;
  margin-bottom: 0px;

}

.project-description p {
  margin-top: 10px;
  margin-bottom: auto;
}

.description {
  padding-left: 5%;
  padding-right: 5%;
}

#all-stack {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.stack {
  overflow-x: hidden;
  width: 80vw;
  margin-bottom: 20px;
}

#front-stack,
#back-stack {
  /* display: flex; */
}

#front-stack {
  margin-bottom: 10px;
}

#back-stack {
  flex-direction: row-reverse;
}

.bubble {
  width: fit-content;
  height: fit-content;
  padding: 3px 10px 3px 10px;
  border-radius: 50px;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  flex-direction: row;
}

.bubble-img {
  height: 20px;
  padding: 2px 5px 2px 0px;
}

.bubble p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: auto 0px auto 0px;
  height: fit-content;
}

.bubble-white {
  background-color: var(--light-gray);
}

.bubble-black {
  background-color: var(--very-dark);
}

.bubble-yellow {
  background-color: var(--dark-yellow);
}

.gradient-left {
  position: absolute;
  height: fit-content;
}

.gradient-right {
  position: absolute;
  height: 85px;
  transform: rotate(180deg);
  right: 0px;
}

.links {
  display: flex;
  justify-content: space-around;
  /* margin-top: 50px; */
  margin-bottom: 10px;
  /* height: 25px; */
}

.github-link {
  fill: white;
  transition: fill 0.2s ease;
  transform: scale(0.8);
}

.github-div:hover .github-link,
.github-div:active .github-link {
  fill: #8831a8;
  fill-opacity: 1;
}

.website-link {
  transition: all 0.2s ease;
  transform: scale(0.8);
}

.website-div:hover .website-link,
.website-div:active .website-link {
  stroke: var(--yellow-main);
  stroke-opacity: 1;
}

#arrows {
  height: 30px;
  position: relative;
  top: -115px;
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.arrow-left {
  margin-left: 18vw;
  height: 25px;
}

.arrow-right {
  height: 25px;
  transform: rotate(180deg) scale(1.4);
  margin-right: 18vw;
  align-self: start;
  transition: 2s ease-out;
}

#project-circles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.project-circle {
  background-color: var(--light-gray);
  transition: all 0.2s ease;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: auto 10px;

}

.selected-circle {
  background-color: var(--yellow-main);
  outline-color: var(--yellow-main);
  border-radius: 10%;
  transform: rotate(45deg);
  outline-style: solid;
  outline-width: 2px;
}

.arrow-right path {
  fill: var(--yellow-main);
  fill-opacity: 0.87;
}

.arrow-left:hover,
.arrow-right:hover {
  cursor: pointer;
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 500ms;
}


/*
@media (min-width: 280px) and (max-width: 310px)  {
  .project-description {
    margin-top: 12vw;
    height: 167vw;
  }
  .project-description h2 {
    margin-top: 30vw;
    font-size: 20px;
  }

  .project-description p {
    font-size: 14px;
  }

  .bubble-img {
    height: 15px;
  }

  .links {
    margin: 10px 0px;
  }

  #arrows {
    margin-top: 25vw
  }
}

@media (min-width: 330px) and (max-width: 360px) {
  .project-description {
    height: 151vw;
  }
}

@media (min-width: 360px) and (max-width: 390px) {
  .project-description {
    height: 149vw;
  }
} */

/*  */


/* Desktop monitors */
/* @media (min-width: 1201px) { */
@media (min-width: 901px) {
  #projects-part {
    /* height: 87vh; */
    height: 970px;
    min-height: 900px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .projects-header {
    margin-left: -50px;
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 32px;
    /* overflow-x: hidden; */
  }

  .project-video-wrapper {
    margin-left: -300px;
    width: 120vw;
    transform: translateX(-13.5%);
  }

  .project-video {
    overflow: hidden;
    width: 800px;
    margin-right: 50vw;
    /* visibility: hidden; */
  }

  .project-description {
    height: 600px;
    /* min-height: 500px; */
    width: 950px;
    margin-left: 156px;
    position: relative;
    top: -400px;
    flex-direction: row;
    /* margin-top: 9vh; */
    margin-top: 100px;
  }

  .stack-bigscreen {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-top: auto;
  }

  .project-info {
    width: 300px;
    margin-left: 50px;
  }

  .project-description h2 {
    padding-top: 60%;
    padding-left: 5%;
    margin-bottom: 0px;
  }

  .project-description p {
    margin-top: 15px;
  }

  .description {
    padding-left: 5%;
    height: 150px;
  }

  .stack-bigscreen {
    height: 30%;
    margin-left: 20px;
    margin-right: -20px;
  }

  .stack-bigscreen:hover {
  }

  .stack-bigscreen div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
  }

  .bubble {
    cursor: pointer;
  }

  .bubble {
    width: fit-content;
    height: fit-content;
    padding: 3px 15px 3px 15px;
    border-radius: 50px;
    margin-left: 3px;
    margin-right: 3px;
    display: flex;
    flex-direction: row;
  }

  .bubble-img {
    height: 20px;
    padding: 5px 10px 5px 0px;
  }

  .bubble p {
    font-family: 'Montserrat', sans-serif;
    margin: auto 0px auto 0px;
    height: fit-content;
  }

  .bubble:hover {
    transition: all 0.2s ease;
    transform: scale(1.05);

  }

  .bubble p {
    font-family: 'Montserrat', sans-serif;
    margin: auto 0px auto 0px;
    height: fit-content;
  }

  .links {
    display: flex;
    justify-content: space-around;
    margin-top: 30%;
    margin-bottom: 20px;
  }

  .github-link {
    fill: white;
    transition: fill 0.2s ease;
  }

  .github-div:hover .github-link,
  .github-div:active .github-link {
    fill: #8831a8;
    fill-opacity: 1;
  }

  .website-link {
    transition: all 0.2s ease;
  }

  .website-div:hover .website-link,
  .website-div:active .website-link {
    stroke: var(--yellow-main);
    stroke-opacity: 1;
  }

  #arrows {
    height: 30px;
    /* position:inherit; */
    top: -210px;
    margin-top: -130px;
    /* margin-left: -160px; */
    margin-left: auto;
    margin-right: 80px;
    display: flex;
    /* justify-content: end; */
    width: 200px;
  }

  .arrow-left {
    margin-left: 1vw;
    height: 25px;
  }

  .arrow-right {
    height: 25px;
    transform: rotate(180deg) scale(1.4);
    margin-right: 1vw;
    /* color: var(--yellow-main); */
  }

  .arrow-right :last-of-type {
    fill: var(--yellow-main);
    fill-opacity: 0.87;
  }
}


/*
@media (min-width: 1000px) and (max-width: 1100px) {
}

@media (min-width: 1100px) and (max-width: 1170px) {
}

@media (min-width: 1170px) and (max-width: 1200px) {
}

@media (min-width: 1200px) and (max-width: 1230px) {
}

@media (min-width: 1230px) and (max-width: 1260px) {
}

@media (min-width: 1260px) and (max-width: 1290px) {
}

@media (min-width: 1290px) and (max-width: 1320px) {
}

@media (min-width: 1320px) and (max-width: 1350px) {
}

@media (min-width: 1350px) and (max-width: 1380px) {
}

@media (min-width: 1380px) and (max-width: 1410px) {
}

@media (min-width: 1410px) and (max-width: 1440px) {
}

@media (min-width: 1440px) and (max-width: 1470px) {
}

@media (min-width: 1470px) and (max-width: 1500px) {
}

@media (min-width: 1500px) and (max-width: 1530px) {
}

@media (min-width: 1530px) and (max-width: 1560px) {
}

@media (min-width: 1560px) and (max-width: 1590px) {
}

@media (min-width: 1590px) and (max-width: 1620px) {
}

@media (min-width: 1620px) and (max-width: 1650px) {
}

@media (min-width: 1650px) and (max-width: 1690px) {
} */

/* 1707 × 841 */

@media screen and (min-width: 901px) and (min-height: 800px) and (max-height: 1000px) {
  .projects-header {
    margin-left: -50px;
    margin-top: 50px;
    margin-bottom: 0px;
    /* overflow-x: hidden; */
  }
  .project-video-wrapper {
    margin-left: -400px;
    transform: translateX(-10%);
  }
  .project-video {
    margin-top: 70px;
    overflow: hidden;
    width: 700px;
    margin-right: 50vw;
  }

  .project-description {
    height: 570px;
    min-height: 500px;
    width: 950px;
    margin-left: 160px;
    position: relative;
    top: -380px;
    flex-direction: row;
    margin-top: 9vh;
    margin-top: 100px;
  }
  .stack-bigscreen {
    margin-bottom: 10px;
  }
  .flickity-page-dots {
    top: 770px;
    left: 500px;
  }
}

@media (min-width: 1690px) and (max-width: 1740px) {
  .project-video-wrapper {
    margin-left: -400px;
  }
}

@media (min-width: 1740px) and (max-width: 1790px) {
}

@media (min-width: 1900px) and (max-width: 2000px) {
  .project-video-wrapper {
    margin-left: -485px;
  }
}

@media (min-width: 2400px) and (max-width: 2700px) {
    .project-video-wrapper {
      margin-left: -760px;
    }
}

@media (min-width: 3000px) and (max-width: 3200px) {
  .project-video-wrapper {
    margin-left: -990px;
  }
}

@media (min-width: 3500px) and (max-width: 4000px) {
  .project-video-wrapper {
    margin-left: -1320px;
  }
}
