#projects-part {
  height: 225vw;
  /* min-height: 700px; */
}

.projects-header {
  margin-left: 5%;
}

.project-video-wrapper {
  /* width: 87vw; */
  /* margin-left: 5%; */
  z-index: 4;
  position: relative;
}

.project-video {
  width: 87vw;
  border-radius: 10px;
  margin-right: 250px;
}

.project-description {
  background-color: var(--darker-gray);
  border-radius: 10px;
  height: 146vw;
  /* min-height: 500px; */
  width: 83vw;
  margin-left: auto;
  margin-right: 2%;
  position: relative;
  top: -200px;
  display: flex;
  flex-direction: column;
  margin-top: 9vh;
}

.project-description h1 {
  padding-top: 40%;
  padding-left: 5%;
  margin-bottom: 0px;
}

.project-description p {
  margin-top: 10px;
}

.description {
  padding-left: 5%;
}

#all-stack {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.stack {
  overflow-x: hidden;
  width: 83vw;
}

#front-stack,
#back-stack {
  /* display: flex; */
}

#front-stack {
  margin-bottom: 10px;
}

#back-stack {
  flex-direction: row-reverse;
}

.bubble {
  width: fit-content;
  height: fit-content;
  padding: 3px 15px 3px 15px;
  border-radius: 50px;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  flex-direction: row;
}

.bubble-img {
  height: 20px;
  padding: 5px 10px 5px 0px;
}

.bubble p {
  font-family: 'Montserrat', sans-serif;
  margin: auto 0px auto 0px;
  height: fit-content;
}

.bubble-white {
  background-color: var(--light-gray);
}

.bubble-black {
  background-color: var(--very-dark);
}

.bubble-yellow {
  background-color: var(--dark-yellow);
}

.gradient-left {
  position: absolute;
  height: 85px;
}

.gradient-right {
  position: absolute;
  height: 85px;
  transform: rotate(180deg);
  right: 0px;
}

.links {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 20px;
}

.github-link {
  fill: white;
  transition: fill 0.2s ease;
}

.github-div:hover .github-link,
.github-div:active .github-link {
  fill: #8831a8;
  fill-opacity: 1;
}

.website-link {
  transition: all 0.2s ease;
}

.website-div:hover .website-link,
.website-div:active .website-link {
  stroke: var(--yellow-main);
  stroke-opacity: 1;
}

#arrows {
  height: 30px;
  position: relative;
  top: -205px;
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.arrow-left {
  margin-left: 10vw;
  height: 25px;
}

.arrow-right {
  height: 25px;
  transform: rotate(180deg) scale(1.4);
  margin-right: 14vw;
  align-self: start;
  transition: 2s ease-out;
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 500ms;
}
/*
@media (min-width: 280px) and (max-width: 310px)  {
  .project-description {
    margin-top: 12vw;
    height: 167vw;
  }
  .project-description h1 {
    margin-top: 30vw;
    font-size: 20px;
  }

  .project-description p {
    font-size: 14px;
  }

  .bubble-img {
    height: 15px;
  }

  .links {
    margin: 10px 0px;
  }

  #arrows {
    margin-top: 25vw
  }
}

@media (min-width: 330px) and (max-width: 360px) {
  .project-description {
    height: 151vw;
  }
}

@media (min-width: 360px) and (max-width: 390px) {
  .project-description {
    height: 149vw;
  }
} */

/*  */

@media (min-width: 280px) and (max-width: 319px) {
  .project-description {
    margin-top: 30vw;
    height: 150vw;
  }
  .project-description h1 {
    margin-top: 20vw;
    font-size: 20px;
  }

  .project-description p {
    font-size: 14px;
  }

  .bubble-img {
    height: 15px;
  }

  .links {
    margin: 10px 0px;
  }

  #arrows {
    margin-top: 8vw;
  }
}

@media (min-width: 280px) and (max-width: 359px) {
  .project-description {
    margin-top: 30vw;
    height: 150vw;
  }
  .project-description h1 {
    margin-top: 20vw;
    font-size: 20px;
  }
}

@media (min-width: 320px) and (max-width: 359px) {
  .project-description h1 {
    margin-top: 15vw;
    font-size: 28px;
  }
}

@media (min-width: 310px) and (max-width: 325px) {
  .project-description {
    height: 147vw;
  }
}

@media (min-width: 325px) and (max-width: 335px) {
  .project-description {
    height: 145vw;
  }
}

@media (min-width: 335px) and (max-width: 350px) {
  .project-description {
    height: 143vw;
  }
}

@media (min-width: 350px) and (max-width: 359px) {
  .project-description {
    height: 141vw;
  }
}

@media (min-width: 360px) and (max-width: 389px) {
  .project-description {
    height: 148vw;
  }
}

@media (min-width: 420px) and (max-width: 465px) {
  .project-description {
    height: 144vw;
  }
}

@media (min-width: 465px) and (max-width: 490px) {
  .project-description {
    height: 142vw;
  }
}

@media (min-width: 490px) and (max-width: 576px) {
  .project-description {
    height: 140vw;
  }
}

/* Desktop monitors */
/* @media (min-width: 1201px) { */
@media (min-width: 901px) {
  #projects-part {
    height: 100vh;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .projects-header {
    margin-left: -50px;
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 32px;
  }

  .project-video-wrapper {
    margin-left: -400px;
    width: 110vw;
    transform: translateX(-10%);
  }

  .project-video {
    width: 800px;
    margin-right: 50vw;
    visibility: hidden;
  }

  .project-description {
    height: 600px;
    /* min-height: 500px; */
    width: 950px;
    margin-left: 150px;
    position: relative;
    top: -500px;
    flex-direction: column;
    margin-top: 9vh;
  }

  .project-description h1 {
    padding-top: 40%;
    padding-left: 5%;
    margin-bottom: 0px;
  }

  .project-description p {
    margin-top: 10px;
  }

  .description {
    padding-left: 5%;
  }

  #all-stack {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  .stack {
    overflow-x: hidden;
    width: 83vw;
  }

  #front-stack,
  #back-stack {
    /* display: flex; */
  }

  #front-stack {
    margin-bottom: 10px;
  }

  #back-stack {
    flex-direction: row-reverse;
  }

  .bubble {
    width: fit-content;
    height: fit-content;
    padding: 3px 15px 3px 15px;
    border-radius: 50px;
    margin-left: 3px;
    margin-right: 3px;
    display: flex;
    flex-direction: row;
  }

  .bubble-img {
    height: 20px;
    padding: 5px 10px 5px 0px;
  }

  .bubble p {
    font-family: 'Montserrat', sans-serif;
    margin: auto 0px auto 0px;
    height: fit-content;
  }

  .bubble-white {
    background-color: var(--light-gray);
  }

  .bubble-black {
    background-color: var(--very-dark);
  }

  .bubble-yellow {
    background-color: var(--dark-yellow);
  }

  .gradient-left {
    position: absolute;
    height: 85px;
  }

  .gradient-right {
    position: absolute;
    height: 85px;
    transform: rotate(180deg);
    right: 0px;
  }

  .links {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .github-link {
    fill: white;
    transition: fill 0.2s ease;
  }

  .github-div:hover .github-link,
  .github-div:active .github-link {
    fill: #8831a8;
    fill-opacity: 1;
  }

  .website-link {
    transition: all 0.2s ease;
  }

  .website-div:hover .website-link,
  .website-div:active .website-link {
    stroke: var(--yellow-main);
    stroke-opacity: 1;
  }

  #arrows {
    height: 30px;
    position: relative;
    top: -205px;
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .arrow-left {
    margin-left: 10vw;
    height: 25px;
  }

  .arrow-right {
    height: 25px;
    transform: rotate(180deg) scale(1.4);
    margin-right: 14vw;
    align-self: start;
    transition: 2s ease-out;
  }

  .animate__animated.animate__fadeInDown {
    --animate-duration: 500ms;
  }
}
