#projects-part {
  height: 100vh;
  min-height: 700px;
}

.projects-header {
  margin-left: 5%;
}

.project-video-wrapper {
  /* width: 87vw; */
  /* margin-left: 5%; */
  z-index: 4;
  position: relative;
}

.project-video {
  width: 87vw;
  border-radius: 10px;
  margin-right: 250px;
}

.project-description {
  background-color: var(--darker-gray);
  border-radius: 10px;
  height: 67.5vh;
  min-height: 500px;
  width: 83vw;
  margin-left: auto;
  margin-right: 2%;
  position: relative;
  top: -200px;
  display: flex;
  flex-direction: column;
}

.project-description h1 {
  padding-top: 55%;
  padding-left: 5%;
  margin-bottom: 0px;
}

.project-description p {
  margin-top: 10px;
}

.description {
  padding-left: 5%;
}

#all-stack {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.stack {
  overflow-x: hidden;
  width: 83vw;
}

#front-stack, #back-stack {
  /* display: flex; */
}

#front-stack {
  margin-bottom: 10px;
}

#back-stack {
  flex-direction: row-reverse;

}

.bubble {
  width: fit-content;
  height: fit-content;
  padding: 3px 15px 3px 15px;
  border-radius: 50px;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  flex-direction: row;
}

.bubble-img {
  height: 20px;
  padding: 5px 10px 5px 0px;
}

.bubble p {
  font-family: 'Montserrat', sans-serif;
  margin: auto 0px auto 0px;
  height: fit-content;
}

.bubble-white {
  background-color: var(--light-gray);
}

.bubble-black {
  background-color: var(--very-dark);
}

.bubble-yellow {
  background-color: var(--dark-yellow);
}

.gradient-left {
  position: absolute;
  height: 85px;
}

.gradient-right {
  position: absolute;
  height: 85px;
  transform: rotate(180deg);
  right: 0px;
}

.links {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 20px;
}

.github-link {
  fill: white;
  transition: fill 0.2s ease;
}

.github-div:hover .github-link,
.github-div:active .github-link {
  fill: #8831a8;
  fill-opacity: 1;
}

.website-link {
  transition: all 0.2s ease;
}

.website-div:hover .website-link,
.website-div:active .website-link {
  stroke: var(--yellow-main);
  stroke-opacity: 1;
}

#arrows {
  height: 30px;
  position: relative;
  top: -205px;
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.arrow-left {
  margin-left: 10vw;
  height: 25px;
}

.arrow-right {
  height: 25px;
  transform: rotate(180deg) scale(1.4);
  margin-right: 14vw;
  align-self: start;
  transition: 2s ease-out;

}

.arrow-next-color {
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 500ms;
}
