#wrap {
  position: absolute;
  height: fit-content;
  top: -20px;
  left: 6%;
  width: 91.7vw;
  pointer-events: none;
  z-index: 2;
}

#thePath {
  stroke-width: 4px;
}

.arrowHead {
  fill: var(--yellow-main);
  pointer-events: all;
}

@media (min-width: 901px) {
  #wrap {
    height: 100vh;
    top: 78px;
    left: -90px;
    margin-left: 0;
    pointer-events: none;
  }

  #svg-arrow {
    margin-left: 0;
    width: 1130px;
  }

  #thePath {
    stroke-width: 6px;
  }

  .arrowHead {
    cursor: pointer;
  }
}

@media screen and (min-width: 901px)  and (min-height: 800px) and (max-height: 1000px) {
  #wrap {
    top: 40px;
  }
}

