#the-arrow {
  /* position: absolute; */
  top: 7vh;
  /* left: 5%; */
  width: 90vw;
  /* transition: stroke-dashoffset 2s ease-out; */

}

#wrap,
svg {
  /* width: 100%; */
}

#wrap {
  height: 100vh;
  position: absolute;
  top: 7vh;
  left: 5%;
  width: 90vw;
  pointer-events: none;
}

#svg-arrow {
  /* width: 100%; */
}

path {
  stroke-width: 4px;
}

#mask {
  stroke: white;
  /* transition: stroke-dashoffset 2s ease-out; */
}

marker {
  overflow: visible;
}

.arrowHead {
  fill: var(--yellow-main);
  transition: 0.3s ease-out;
  /* position: relative; */
  pointer-events: all;
}

#mask, #arrowHead {
  transition: all 0.5s ease-out;
}

#thePath {
  transition: stroke-dashoffset 0.5s ease-out;
}

@media (min-width: 901px) {
  #wrap {
    height: 100vh;
    top: 78px;
    left: 16.2%;
    margin-left: auto;
    pointer-events: none;
  }

  #svg-arrow {
    margin-left: auto;
    width: 1130px;
  }

  path {
    stroke-width: 6px;
  }
}

@media (min-width: 1000px) and (max-width: 1100px) {
  #wrap {
    left: -3%;
  }
}

@media (min-width: 1100px) and (max-width: 1170px) {
  #wrap {
    left: 0%;
  }
}

@media (min-width: 1170px) and (max-width: 1200px) {
  #wrap {
    left: 1%;
  }
}

@media (min-width: 1200px) and (max-width: 1230px) {
  #wrap {
    left: 2%;
  }
}

@media (min-width: 1230px) and (max-width: 1260px) {
  #wrap {
    left: 3%;
  }
}

@media (min-width: 1260px) and (max-width: 1290px) {
  #wrap {
    left: 4.8%;
  }
}

@media (min-width: 1290px) and (max-width: 1320px) {
  #wrap {
    left: 5.6%;
  }
}

@media (min-width: 1320px) and (max-width: 1350px) {
  #wrap {
    left: 6.5%;
  }
}

@media (min-width: 1350px) and (max-width: 1380px) {
  #wrap {
    left: 7.1%;
  }
}
@media (min-width: 1380px) and (max-width: 1410px) {
  #wrap {
    left: 8%;
  }
}

@media (min-width: 1410px) and (max-width: 1440px) {
  #wrap {
    left: 8.9%;
  }
}

@media (min-width: 1440px) and (max-width: 1470px) {
  #wrap {
    left: 9.8%;
  }
}

@media (min-width: 1470px) and (max-width: 1500px) {
  #wrap {
    left: 10.7%;
  }
}

@media (min-width: 1500px) and (max-width: 1530px) {
  #wrap {
    left: 11.6%;
  }
}

@media (min-width: 1530px) and (max-width: 1560px) {
  #wrap {
    left: 12.4%;
  }
}

@media (min-width: 1560px) and (max-width: 1590px) {
  #wrap {
    left: 13.2%;
  }
}

@media (min-width: 1590px) and (max-width: 1620px) {
  #wrap {
    left: 13.9%;
  }
}

@media (min-width: 1620px) and (max-width: 1650px) {
  #wrap {
    left: 14.6%;
  }
}

@media (min-width: 1650px) and (max-width: 1690px) {
  #wrap {
    left: 15.1%;
  }
}

@media (min-width: 1690px) and (max-width: 1740px) {
  #wrap {
    left: 16.2%;
  }
}

@media (min-width: 1740px) and (max-width: 1790px) {
  #wrap {
    left: 16.9%;
  }
}

@media (min-width: 1900px) and (max-width: 2000px) {
  #wrap {
    left: 19.8%;
  }
}

@media (min-width: 2400px) and (max-width: 2700px) {
  #wrap {
    left: 27.3%;
  }
}

@media (min-width: 3000px) and (max-width: 3200px) {
  #wrap {
    left: 31.2%;
  }
}
