body {
  display: flex;
  /* width: 1000px; */
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}
h1,
h2 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
}
h2 {
  font-weight: 100;
}
h1 {
  font-size: 1.7em;
}
h3 {
  font-weight: 100;
}
ul {
  display: list-item;
}
.break {
  /* flex-basis: 100%; */
  height: 0;
}
#left {
  /* width: 250; */
  flex: 5;
  background-color: #1c473b;
  color: beige;
}
#leftText {
  width: 300px;
  margin-left: 20vw;
  margin-top: 100px;
}
#leftText h1,
#leftText h2 {
  text-align: center;
}
#leftText ul {
  list-style-type: none;
  padding-left: 0px;
}
img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-left: 50px;
}
#right {
  width: 750;
  flex: 9;
  color: #0c1d18;
}
#rightText {
  margin-right: 15vw;
  margin-left: 50px;
  margin-top: 180px;
}
#rightText ul {
  list-style-type: disc;
  padding-left: 0px;
}
