:root {

  /* --cod-gray: #0f0f0f; */
  --cod-gray-lighter: #181818;
  --white: #fff;
  --red: #EE0000;
  --yellow-main: #ffcc00;
  --dark-gray: #393939;
  --darker-gray: #2B2B2B;
  --light-gray: #565656;
  --very-dark: #141414;
  --dark-yellow: #473C0D;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* background-color: var(--cod-gray); */
  max-width: 100vw;
  overflow-x: hidden;

  color: var(--white);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  height: 100%;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

h3, p {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 22px;
}

input, textarea {
  font-family: 'Open Sans', sans-serif;
}

.h-e-text {
  color: var(--white);
  opacity: 0.87;
}

.m-e-text {
  color: var(--white);
  opacity: 0.60;
}

.dis-text {
  color: var(--white);
  opacity: 0.38;
}

#main-page-wrapper {
  background-color: var(--cod-gray-lighter);
  width: 100vw;
  padding: 0;
}

.light-big, .light-small {
  position: absolute;
  /* margin-top: 100%; */
  /* top: 165vh; */
  bottom: -200vh;
  /* height: 100%; */
  width: 100vw;
  /* background-color: var(--cod-gray-lighter); */
  pointer-events: none;
  visibility: hidden;
}

.light-big {
  z-index: 0;
  /* margin-top: -100px; */
}

.light-small {
  z-index: 1;
}
