:root {
  --cod-gray-lighter: #181818;
  --white: #fff;
  --red: #ee0000;
  --yellow-main: #ffcc00;
  --dark-gray: #393939;
  --darker-gray: #2b2b2b;
  --light-gray: #565656;
  --very-dark: #141414;
  --dark-yellow: #473c0d;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--cod-gray-lighter);
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--white);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  height: 100%;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

h3,
p {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 19px;
}

p {
  font-size: 16px;
}

input,
textarea {
  font-family: 'Open Sans', sans-serif;
}

.h-e-text {
  color: var(--white);
  opacity: 0.87;
}

.m-e-text {
  color: var(--white);
  opacity: 0.6;
}

.dis-text {
  color: var(--white);
  opacity: 0.38;
}
